@font-face {
  font-family: pixelmix;
  src: url(../public/pixelmix.ttf);
}

body {
  margin: 0;
  font-family: pixelmix;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}
#App{
  height:100%;
}
#root{
  height:100%;
}

/*https://stackoverflow.com/questions/65864203/how-to-make-div-element-auto-resize-maintaining-aspect-ratio*/
#clawMachineContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

#clawMachine{
  position: relative;
  --r: 170 / 247;
  aspect-ratio: var(--r);
  width: min(90%, min(960px, 90vh*(var(--r))));
  display: flex;
  justify-content: center;
  align-items: center;
}
#clawFront{
  z-index: 500;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  filter: drop-shadow(5px 5px 10px #00325da1);
}
#clawBack{
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 100;
  /*filter: drop-shadow(0px 0px 10px #32354b87);*/
}

/*coords*/
#clawClaw{
  z-index: 250;
  position: absolute;
  width: 19%;
  animation: swinging 3.5s ease-in-out forwards infinite;
  transform-origin: 50% 0;
  filter: drop-shadow(50px -36px 8px #5a668cd4);
}

@keyframes swinging {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-1deg)
  }
  100% {
    transform: rotate(2deg);
  }
}

.blinking{
  animation: blinking 0.5s ease-in-out forwards infinite;
}

@keyframes blinking {
  0% {
    filter: brightness(2);
  }
  50% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(2);
  }
}

#clawCube{
  width: 33%;
  filter: grayscale(1) sepia(5) saturate(1) contrast(1.5) saturate(2) drop-shadow(50px -36px 8px);
  color: #00000063;
}
#clawCubeContainer{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width:19%;
  height: 52%;
  z-index: 250;
  position: absolute;
  animation: swinging 3.5s ease-in-out backwards infinite;
  transform-origin: 50% 0;
  animation-direction: reverse;
}


#clawLeft,#clawLeftPressed{
  z-index: 1250;
  position: absolute;
  width: 16%;
  top: 75%;
  left: 6%;
}
#clawRight,#clawRightPressed{
  z-index: 1250;
  position: absolute;
  width: 16%;
  top: 75%;
  left: 21%;
}
#clawGo, #clawGoPressed{
  z-index: 1250;
  position: absolute;
  width: 16%;
  top: 75%;
  left: 52%;
}
#clawMoney,#clawMoneyPressed{
  z-index: 1250;
  position: absolute;
  width: 10%;
  top: 86%;
  left: 54%;
}

#clawMoneyPressed, #clawGoPressed, #clawRightPressed, #clawLeftPressed{
  filter: brightness(1.3);
}

#clawMoney:hover, #clawGo:hover, #clawRight:hover, #clawLeft:hover{
  cursor:pointer;
  opacity: 0;
}
/*add in a container*/
#money{
  z-index: 1250;
  position: absolute;
  color:white;
  top: 77.5%;
  left: 41%;
  font-style: italic;
  font-size: 2cqw;
}




img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}